.about {
  background-color: $backgroundPrimary;

  &Wrapper {
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;

    @include breakpoint-phone {
      width: 90%;
    }
  }

  &Heading {
    display: flex;
    padding-top: 2rem;

    @include breakpoint-phone {
      flex-direction: column-reverse;
    }
  }

  &Image {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint-tablet-port {
      justify-content: flex-start;
    }

    @include breakpoint-phone {
      width: 70%;
      align-self: center;
      margin-top: 2rem;
    }

    & img {
      width: 70%;
      border-radius: 2rem;
      height: 60vh;
      object-fit: cover;

      @include breakpoint-tablet-port {
        width: 90%;
      }

      @include breakpoint-phone {
        width: 100%;
      }

      @include breakpoint-phone-small {
        object-fit: contain;
      }
    }
  }

  &Text {
    width: 60%;
    min-height: 70vh;
    display: flex;
    align-items: center;

    @include breakpoint-phone {
      width: 90%;
      margin: 0 auto 2rem auto;
      text-align: center;
    }

    &Container {
      padding: 0 5rem;

      @include breakpoint-desktop-smaller {
        padding: 0;
      }

      & p {
        margin-bottom: 1rem;
      }

      & span {
        color: $secondaryColor;
        font-weight: bold;
      }
    }
  }

  &Skills {
    min-height: 30vh;
    display: flex;

    &Heading {
      width: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;

      & h2 {
        font-size: 3rem;
        transform: rotate(270deg);
        margin: 0;

        @include breakpoint-tablet-port {
          margin: 2rem 0;
        }
      }
    }

    &Icons {
      width: 90%;

      @include breakpoint-tablet-port {
        margin: 3rem 0;
      }

      & ul {
        min-height: 30vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        padding: 0;

        @include breakpoint-tablet-port {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(2, 1fr);
          justify-items: center;
        }
      }
    }
  }
}

.skillsIconContainer,
.skillsIconContainer::before,
.skillsIconImage,
.skillsIconCaption {
  transition: background-image 0.5s, transform 0.5s, opacity 0.5s;
}

.skillsIconContainer {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.skillsIconContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.skillsIconContainer:hover::before {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.8)
  );
  transform: scale(1.5);
}

.skillsIconContainer:hover .skillsIconImage {
  transform: scale(1.5) rotateY(360deg);
}

.skillsIconContainer:hover .skillsIconCaption {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.skillsIconImage {
  width: 5rem;
  display: block;
  backface-visibility: hidden;
}

.skillsIconCaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  text-align: center;
  opacity: 0;
  color: $primaryColor;
  font-weight: bold;
  backface-visibility: hidden;
  z-index: 10;
}
