.about {
  background-color: $backgroundPrimary;

  &Wrapper {
    width: 80%;
    margin: 0 auto;
    height: 100vh;
  }

  &Heading {
    display: flex;
  }

  &Image {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      width: 70%;
      border-radius: 2rem;
      max-height: 60vh;
      object-fit: cover;
    }
  }

  &Text {
    width: 60%;
    height: 70vh;
    display: flex;
    align-items: center;

    &Container {
      padding: 0 5rem;
    }
  }

  &Skills {
    height: 30vh;
    display: flex;

    &Heading {
      width: 15%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      & h2 {
        font-size: 3rem;
        transform: rotate(270deg);
        margin: 0;
      }
    }

    &Icons {
      width: 90%;

      & ul {
        height: 30vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        padding: 0;
      }
    }
  }
}

.skillsIconContainer,
.skillsIconContainer::before,
.skillsIconImage,
.skillsIconCaption {
  transition: background-image 0.5s, transform 0.5s, opacity 0.5s;
}

.skillsIconContainer {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.skillsIconContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.skillsIconContainer:hover::before {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.8)
  );
  transform: scale(1.5);
}

.skillsIconContainer:hover .skillsIconImage {
  transform: scale(1.5) rotateY(360deg);
}

.skillsIconContainer:hover .skillsIconCaption {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.skillsIconImage {
  width: 5rem;
  display: block;
  backface-visibility: hidden;
}

.skillsIconCaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  text-align: center;
  opacity: 0;
  color: $primaryColor;
  font-weight: bold;
  // letter-spacing: .16rem;
  backface-visibility: hidden;
  z-index: 10;
}
