.footer {
  background-color: $backgroundPrimary;
  min-height: 10vh;
  font-size: 1.4rem;
  display: flex;
  text-align: center;
  align-items: center;

  @include breakpoint-phone {
    padding: 1rem 0;
  }

  & span {
    color: $secondaryColor;
  }

  & a {
    font-size: 1.4rem;
    display: inline-block;
    text-transform: capitalize;
    letter-spacing: normal;

    &:hover {
      transform: scale(1);
    }
  }
}
