.header {
  background-color: $backgroundSecondary;
  min-height: 100vh;

  @include breakpoint-phone {
    min-height: 75vh;
  }

  &Wrapper {
    max-width: 90%;
    margin: 0 auto;

    @include breakpoint-phone {
      max-width: 80%;
    }
  }

  &Nav {
    @include breakpoint-phone {
      position: fixed;
      top: 0;
      left: -25rem;
      background: rgba(62, 67, 86, 0.9);
      height: 100%;
      width: 25rem;
      transition: all 0.2s;
      z-index: 999;
    }
  }

  &Nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    min-height: 15vh;

    @include breakpoint-phone {
      flex-direction: column;
      height: 100vh;
    }

    & li a {
      padding: 0rem 2rem;
      transition: all 0.2s;

      @include breakpoint-phone {
        padding: 4rem 2rem;
        color: $backgroundPrimary;
        font-size: 1.6rem;
      }

      &:hover {
        @include breakpoint-phone {
          color: $secondaryColor;
        }
      }
    }
  }

  &Main {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding-left: 5%;

    @include breakpoint-phone {
      padding-left: 0;
    }
  }

  &Text {
    min-height: 75vh;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include breakpoint-tablet-port {
      width: 50%;
    }

    @include breakpoint-phone-small {
      width: 60%;
    }

    &Container {
      padding-right: 6rem;
      letter-spacing: 0.14rem;

      @include breakpoint-tablet-port {
        padding-right: 2rem;
      }

      & span {
        color: $secondaryColor;
      }
    }
  }

  &Image {
    min-height: 75vh;
    width: 35%;
    background-image: url(../assets/brianImage.png);
    background-size: cover;
    background-position: center;

    @include breakpoint-tablet-port {
      width: 50%;
    }

    @include breakpoint-phone-small {
      width: 40%;
    }
  }

  &Scroll {
    width: 10%;
    position: relative;
    display: flex;
    white-space: nowrap;

    @include breakpoint-phone {
      display: none;
    }

    &Text {
      position: absolute;
      bottom: 5rem;
      right: -5rem;

      & a {
        transform: rotate(90deg);
        font-size: 1.2rem;
        text-transform: uppercase;
      }
    }
  }

  &Social {
    min-height: 10vh;

    @include breakpoint-phone {
      display: flex;
    }

    & ul {
      display: flex;
      align-items: center;
      list-style: none;

      & li {
        padding: 0 1.5rem;

        & i {
          font-size: 2.5rem;

          @include breakpoint-phone {
            font-size: 2rem;
          }
        }
      }
    }
  }
}

.sidebarBtn {
  position: absolute;
  top: 0;
  right: -5rem;
  width: 5rem;
  height: 5rem;
  box-sizing: border-box;
  cursor: pointer;
  background: rgba(255 ,255, 255 , 0);
  border: none;
  outline: none;
  display: none;
  opacity: 0.7;
  padding: 0 .65rem;

  @include breakpoint-phone {
    display: inline-block;
  }

  &.toggle span {
    background: transparent;
    
    &:before {
      top: 0;
      transform: rotate(45deg);
    }
    
    &:after {
      top: 0;
      transform: rotate(-45deg);
    }
  }
  
  & span {
    display: block;
    width: 3.5rem;
    height: 0.3rem;
    background: $primaryColor;
    position: absolute;
    top: 2.4rem;
    transition: all 0.2s;
    padding-right: .75rem;

    &:before {
      content: "";
      position: absolute;
      top: -1rem;
      left: 0;
      width: 100%;
      height: 0.3rem;
      background: $primaryColor;
      transition: all 0.2s;
    }

    &:after {
      content: "";
      position: absolute;
      top: 1rem;
      left: 0;
      width: 100%;
      height: 0.3rem;
      background: $primaryColor;
      transition: all 0.2s;
    }
  }
}

.active {
  left: 0;
}
