.portfolio {
  background-color: $backgroundSecondary;

  &Wrapper {
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
  }

  &Text {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &Container {
      text-align: center;

      & h2 {
        margin: 0;
      }
    }
  }

  &Tiles {
    min-height: 85vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 5rem;
    padding-bottom: 5rem;

    @include breakpoint-tablet-land {
      display: flex;
      flex-direction: column;
    }

    @include breakpoint-phone {
      padding-bottom: 0;
    }
  }

  &Card {
    &Image {
      width: 90%;
      margin: 0 auto;
      filter: opacity(50%);
      transition: all 0.2s;
      display: flex;
      align-items: center;

      @include breakpoint-tablet-land {
        margin-bottom: 1.5rem;
      }

      & img {
        display: block;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
      }

      &:hover {
        filter: opacity(100%);
      }

      & a:hover {
        transform: scale(1);
      }
    }

    &Text {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include breakpoint-tablet-land {
        width: 90%;
        margin: 0 auto 5rem auto;
        background-color: $backgroundPrimary;
        padding: 2rem;
      }

      & h2 {
        font-size: 2.5rem;
        margin: 0 0 1rem 0;
      }

      &IconContainer {
        display: flex;
        margin-bottom: 1rem;

        @include breakpoint-phone-small {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          grid-row-gap: 2rem;
          justify-items: center;
        }

        & figure {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-right: 2rem;
        }

        & figcaption {
          margin-top: 0.5rem;
          font-size: 1.2rem;
          color: $secondaryColor;
        }
      }

      &Icons {
        width: 4rem;

        &:first-child {
          margin-left: 0;
        }
      }

      & .button {
        color: #fff;
        padding: 0.75rem 1.5rem;
        display: inline-block;
        margin-top: 2rem;
        margin-right: 2rem;
        text-transform: capitalize;
      }
    }
  }

  &Buttons {
    display: flex;
  }
}

.foodAppText {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  align-items: flex-end;
  text-align: right;

  @include breakpoint-tablet-land {
    align-items: flex-start;
    text-align: left;
  }

  @include breakpoint-phone-small {
    align-items: inherit;
  }

  & h2,
  p,
  a {
    margin-right: 2rem;
  }
}

.barOneText {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  align-items: flex-end;
  text-align: right;

  @include breakpoint-tablet-land {
    align-items: flex-start;
    text-align: left;
  }

  @include breakpoint-phone-small {
    align-items: inherit;
  }

  & h2,
  p,
  a {
    margin-right: 2rem;
  }
}
