// VARIABLES

$primaryColor: #313C45;
$secondaryColor: #6C8293;

$backgroundPrimary: #fafafa;
$backgroundSecondary: #dfe3e7;

$primaryFont: "Montserrat", sans-serif;
$secondaryFont: "Lato", sans-serif;
