//BASE FONT AND BODY SETTINGS
html {
  font-size: 62.5%; //1 rem = 10px
}

body {
  font-family: $primaryFont;
  font-size: 1.6rem;
  color: $primaryColor;
  background-color: $backgroundPrimary;
}

//WRAPPER SETTINGS
.wrapper {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

img {
  width: 100%;
  display: inline-block;
}
