a:link,
a:visited {
  color: $secondaryColor;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s;
  letter-spacing: 0.16rem;
  display: block;

  @include breakpoint-tablet-port {
    font-size: 1.4rem;
  }

  @include breakpoint-phone-small {
    font-size: 1.3rem;
  }
}

a:hover,
a:active {
  color: $primaryColor;
  transform: scale(1.1);
}

.button {
  text-transform: uppercase;
  letter-spacing: normal;
  background-color: $primaryColor;
  color: $backgroundPrimary;
  border: none;
  border-radius: 0;
  font-family: $secondaryFont;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  cursor: pointer;
  transition: all 0.2s;
  letter-spacing: 0.14rem;
  margin-top: 3.5rem;

  @include breakpoint-tablet-port {
    margin-top: 2.5rem;
  }

  // @include breakpoint-phone {
  //   padding: 0.75rem 1.5rem;
  //   font-size: 1.2rem;
  // }

  // @include breakpoint-phone-small {
  //   padding: 0.5rem 0.75rem;
  // }

  &:hover {
    background-color: $secondaryColor;
    transform: scale(1.1);
  }
}

.fa-linkedin-in:hover,
.fa-linkedin-in:active {
  color: #0077b5;
}

.fa-twitter:hover {
  color: #1da1f2;
}

.fa-github:hover {
  color: #24292e;
}

.fa-medium-m:hover {
  color: #00ab6c;
}

h1 {
  font-family: $secondaryFont;
  font-size: 6rem;
  margin: 2rem 0;

  @include breakpoint-tablet-port {
    font-size: 4rem;
  }

  @include breakpoint-phone {
    font-size: 3rem;
  }
}

h2 {
  font-family: $secondaryFont;
  font-size: 4rem;
  margin: 2rem 0;

  @include breakpoint-tablet-port {
    font-size: 3rem;
  }

  @include breakpoint-phone {
    font-size: 2rem;
  }
}
