article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201c \201d \2018 \2019; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body,
figure {
  margin: 0; }

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: #3e4356;
  background-color: #fff;
  overflow-x: hidden; }
  @media (max-width: 900px) {
    body {
      font-size: 1.4rem; } }

.wrapper {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto; }

img {
  width: 100%;
  display: inline-block; }

ul {
  padding-left: 0; }

p {
  line-height: 1.35; }

a:link,
a:visited {
  color: #717895;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  letter-spacing: 0.16rem;
  display: block; }
  @media (max-width: 900px) {
    a:link,
    a:visited {
      font-size: 1.4rem; } }
  @media (max-width: 400px) {
    a:link,
    a:visited {
      font-size: 1.3rem; } }

a:hover,
a:active {
  color: #3e4356;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.button {
  text-transform: uppercase;
  letter-spacing: normal;
  background-color: #3e4356;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  letter-spacing: 0.14rem;
  margin-top: 3.5rem; }
  @media (max-width: 900px) {
    .button {
      margin-top: 2.5rem; } }
  .button:hover {
    background-color: #717895;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

.fa-linkedin-in:hover,
.fa-linkedin-in:active {
  color: #0077b5; }

.fa-twitter:hover {
  color: #1da1f2; }

.fa-github:hover {
  color: #24292e; }

.fa-medium-m:hover {
  color: #00ab6c; }

h1 {
  font-family: "Lato", sans-serif;
  font-size: 6rem;
  margin: 2rem 0; }
  @media (max-width: 900px) {
    h1 {
      font-size: 4rem; } }
  @media (max-width: 600px) {
    h1 {
      font-size: 3rem; } }

h2 {
  font-family: "Lato", sans-serif;
  font-size: 4rem;
  margin: 2rem 0; }
  @media (max-width: 900px) {
    h2 {
      font-size: 3rem; } }

.header {
  background-color: #edf1fd;
  min-height: 100vh; }
  @media (max-width: 600px) {
    .header {
      min-height: 75vh; } }
  .headerWrapper {
    max-width: 90%;
    margin: 0 auto; }
  @media (max-width: 600px) {
    .headerNav {
      position: fixed;
      top: 0;
      left: -25rem;
      background: rgba(62, 67, 86, 0.9);
      height: 100%;
      width: 25rem;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      z-index: 999; } }
  .headerNav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
    min-height: 15vh; }
    @media (max-width: 600px) {
      .headerNav ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100vh; } }
    .headerNav ul li a {
      padding: 0rem 2rem;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
      @media (max-width: 600px) {
        .headerNav ul li a {
          padding: 4rem 2rem;
          color: #fff;
          font-size: 1.6rem; } }
      @media (max-width: 600px) {
        .headerNav ul li a:hover {
          color: #717895; } }
  .headerMain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding-left: 5%; }
    @media (max-width: 600px) {
      .headerMain {
        padding-left: 0; } }
  .headerText {
    min-height: 75vh;
    width: 55%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    @media (max-width: 900px) {
      .headerText {
        width: 50%; } }
    @media (max-width: 400px) {
      .headerText {
        width: 60%; } }
    .headerTextContainer {
      padding-right: 6rem;
      letter-spacing: 0.14rem; }
      @media (max-width: 900px) {
        .headerTextContainer {
          padding-right: 2rem; } }
      .headerTextContainer span {
        color: #717895; }
  .headerImage {
    min-height: 75vh;
    width: 35%;
    background-image: url(../assets/brianImage.png);
    background-size: cover;
    background-position: center; }
    @media (max-width: 900px) {
      .headerImage {
        width: 50%; } }
    @media (max-width: 400px) {
      .headerImage {
        width: 40%; } }
  .headerScroll {
    width: 10%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap; }
    @media (max-width: 600px) {
      .headerScroll {
        display: none; } }
    .headerScrollText {
      position: absolute;
      bottom: 5rem;
      right: -5rem; }
      .headerScrollText a {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        font-size: 1.2rem;
        text-transform: uppercase; }
  .headerSocial {
    min-height: 10vh; }
    @media (max-width: 600px) {
      .headerSocial {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
    .headerSocial ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      list-style: none; }
      .headerSocial ul li {
        padding: 0 1.5rem; }
        .headerSocial ul li i {
          font-size: 2.5rem; }
          @media (max-width: 600px) {
            .headerSocial ul li i {
              font-size: 2rem; } }

.sidebarBtn {
  position: absolute;
  top: 0;
  right: -5rem;
  width: 5rem;
  height: 5rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  background: #edf1fd;
  border: 1px solid #3e4356;
  outline: none;
  display: none;
  opacity: 0.7;
  padding: 0 .65rem; }
  @media (max-width: 600px) {
    .sidebarBtn {
      display: inline-block; } }
  .sidebarBtn.toggle span {
    background: transparent; }
    .sidebarBtn.toggle span:before {
      top: 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .sidebarBtn.toggle span:after {
      top: 0;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .sidebarBtn span {
    display: block;
    width: 3.5rem;
    height: 0.3rem;
    background: #3e4356;
    position: absolute;
    top: 2.4rem;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    padding-right: .75rem; }
    .sidebarBtn span:before {
      content: "";
      position: absolute;
      top: -1rem;
      left: 0;
      width: 100%;
      height: 0.3rem;
      background: #3e4356;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    .sidebarBtn span:after {
      content: "";
      position: absolute;
      top: 1rem;
      left: 0;
      width: 100%;
      height: 0.3rem;
      background: #3e4356;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }

.active {
  left: 0; }

.about {
  background-color: #fff; }
  .aboutWrapper {
    width: 80%;
    margin: 0 auto;
    min-height: 100vh; }
    @media (max-width: 600px) {
      .aboutWrapper {
        width: 90%; } }
  .aboutHeading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 2rem; }
    @media (max-width: 600px) {
      .aboutHeading {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; } }
  .aboutImage {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 900px) {
      .aboutImage {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; } }
    @media (max-width: 600px) {
      .aboutImage {
        width: 70%;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        margin-top: 2rem; } }
    .aboutImage img {
      width: 70%;
      border-radius: 2rem;
      height: 60vh;
      -o-object-fit: cover;
      object-fit: cover; }
      @media (max-width: 900px) {
        .aboutImage img {
          width: 90%; } }
      @media (max-width: 600px) {
        .aboutImage img {
          width: 100%; } }
      @media (max-width: 400px) {
        .aboutImage img {
          -o-object-fit: contain;
          object-fit: contain; } }
  .aboutText {
    width: 60%;
    min-height: 70vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 600px) {
      .aboutText {
        width: 90%;
        margin: 0 auto 2rem auto;
        text-align: center; } }
    .aboutTextContainer {
      padding: 0 5rem; }
      @media (max-width: 1300px) {
        .aboutTextContainer {
          padding: 0; } }
      .aboutTextContainer p {
        margin-bottom: 1rem; }
      .aboutTextContainer span {
        color: #717895;
        font-weight: bold; }
  .aboutSkills {
    min-height: 30vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .aboutSkillsHeading {
      width: 15%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      white-space: nowrap; }
      .aboutSkillsHeading h2 {
        font-size: 3rem;
        -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
        margin: 0; }
        @media (max-width: 900px) {
          .aboutSkillsHeading h2 {
            margin: 2rem 0; } }
    .aboutSkillsIcons {
      width: 90%; }
      @media (max-width: 900px) {
        .aboutSkillsIcons {
          margin: 3rem 0; } }
      .aboutSkillsIcons ul {
        min-height: 30vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        list-style: none;
        padding: 0; }
        @media (max-width: 900px) {
          .aboutSkillsIcons ul {
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: (1fr)[4];
            grid-template-columns: repeat(4, 1fr);
            -ms-grid-rows: (1fr)[2];
            grid-template-rows: repeat(2, 1fr);
            justify-items: center; } }

.skillsIconContainer,
.skillsIconContainer::before,
.skillsIconImage,
.skillsIconCaption {
  -webkit-transition: background-image 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  transition: background-image 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  -o-transition: background-image 0.5s, transform 0.5s, opacity 0.5s;
  transition: background-image 0.5s, transform 0.5s, opacity 0.5s;
  transition: background-image 0.5s, transform 0.5s, opacity 0.5s, -webkit-transform 0.5s; }

.skillsIconContainer {
  width: 100%;
  margin: 0 auto;
  position: relative; }

.skillsIconContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; }

.skillsIconContainer:hover::before {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5); }

.skillsIconContainer:hover .skillsIconImage {
  -webkit-transform: scale(1.5) rotateY(360deg);
  transform: scale(1.5) rotateY(360deg); }

.skillsIconContainer:hover .skillsIconCaption {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.skillsIconImage {
  width: 5rem;
  display: block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.skillsIconCaption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 20%);
  -ms-transform: translate(-50%, 20%);
  transform: translate(-50%, 20%);
  text-align: center;
  opacity: 0;
  color: #3e4356;
  font-weight: bold;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 10; }

.portfolio {
  background-color: #edf1fd; }
  .portfolioWrapper {
    width: 80%;
    margin: 0 auto;
    min-height: 100vh; }
  .portfolioText {
    height: 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .portfolioTextContainer {
      text-align: center; }
      .portfolioTextContainer h2 {
        margin: 0; }
  .portfolioTiles {
    min-height: 85vh;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-row-gap: 5rem;
    padding-bottom: 5rem; }
    @media (max-width: 1000px) {
      .portfolioTiles {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    @media (max-width: 600px) {
      .portfolioTiles {
        padding-bottom: 0; } }
  .portfolioCardImage {
    width: 90%;
    margin: 0 auto;
    -webkit-filter: opacity(50%);
    filter: opacity(50%);
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 1000px) {
      .portfolioCardImage {
        margin-bottom: 1.5rem; } }
    .portfolioCardImage img {
      display: block;
      -webkit-box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
      box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); }
    .portfolioCardImage:hover {
      -webkit-filter: opacity(100%);
      filter: opacity(100%); }
    .portfolioCardImage a:hover {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
  .portfolioCardText {
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media (max-width: 1000px) {
      .portfolioCardText {
        width: 90%;
        margin: 0 auto 5rem auto;
        background-color: #fff;
        padding: 2rem; } }
    .portfolioCardText h2 {
      font-size: 2.5rem;
      margin: 0 0 1rem 0; }
    .portfolioCardTextIconContainer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 1rem; }
      @media (max-width: 400px) {
        .portfolioCardTextIconContainer {
          display: -ms-grid;
          display: grid;
          -ms-grid-columns: (1fr)[2];
          grid-template-columns: repeat(2, 1fr);
          -ms-grid-rows: (1fr)[2];
          grid-template-rows: repeat(2, 1fr);
          grid-row-gap: 2rem;
          justify-items: center; } }
      .portfolioCardTextIconContainer figure {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-right: 2rem; }
      .portfolioCardTextIconContainer figcaption {
        margin-top: 0.5rem;
        font-size: 1.2rem;
        color: #717895; }
    .portfolioCardTextIcons {
      width: 4rem; }
      .portfolioCardTextIcons:first-child {
        margin-left: 0; }
    .portfolioCardText .button {
      color: #fff;
      padding: 0.75rem 1.5rem;
      display: inline-block;
      margin-top: 2rem;
      margin-right: 2rem;
      text-transform: capitalize; }
  .portfolioButtons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.foodAppText {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: right; }
  @media (max-width: 1000px) {
    .foodAppText {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      text-align: left; } }
  @media (max-width: 400px) {
    .foodAppText {
      -webkit-box-align: inherit;
      -ms-flex-align: inherit;
      align-items: inherit; } }
  .foodAppText h2,
  .foodAppText p,
  .foodAppText a {
    margin-right: 2rem; }

.barOneText {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: right; }
  @media (max-width: 1000px) {
    .barOneText {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      text-align: left; } }
  @media (max-width: 400px) {
    .barOneText {
      -webkit-box-align: inherit;
      -ms-flex-align: inherit;
      align-items: inherit; } }
  .barOneText h2,
  .barOneText p,
  .barOneText a {
    margin-right: 2rem; }

.contact {
  background-color: #fff; }
  .contactWrapper {
    width: 70%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .contactCopy {
    min-height: 30vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .contactCopyContainer {
      width: 50%;
      font-size: 2rem;
      text-align: center; }
      @media (max-width: 900px) {
        .contactCopyContainer {
          font-size: 1.6rem;
          width: 70%; } }
      .contactCopyContainer p {
        color: #717895; }
      .contactCopyContainer span {
        color: #3e4356; }
  .contactInfo {
    min-height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center; }
    .contactInfo a {
      font-size: 2rem;
      padding: 1rem 0;
      text-transform: lowercase; }
      @media (max-width: 900px) {
        .contactInfo a {
          font-size: 1.6rem; } }
    .contactInfo i {
      margin-right: 1.5rem; }
    .contactInfo button {
      margin-top: 2.5rem; }
    .contactInfoSocial ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      list-style: none;
      padding: 0; }
      .contactInfoSocial ul li {
        padding: 0 1.5rem 2rem 1.5rem; }
        .contactInfoSocial ul li:first-child {
          padding-left: 0; }
        .contactInfoSocial ul li:last-child {
          padding-right: 0; }
        .contactInfoSocial ul li i {
          font-size: 2.5rem;
          text-align: center; }
          @media (max-width: 600px) {
            .contactInfoSocial ul li i {
              font-size: 2rem; } }
        @media (max-width: 400px) {
          .contactInfoSocial ul li {
            padding-left: 1rem;
            padding-right: 1rem; } }
  .contactAlt {
    background-color: #edf1fd; }

.footer {
  background-color: #fff;
  min-height: 10vh;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 600px) {
    .footer {
      padding: 1rem 0; } }
  .footer span {
    color: #717895; }
  .footer a {
    font-size: 1.4rem;
    display: inline-block;
    text-transform: capitalize;
    letter-spacing: normal; }
    .footer a:hover {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
